.BrandsNav {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: auto;
  margin: 30px 1%;
  gap: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.brand button {
  display: flex;
  border-radius: 10px;
  border: none;
  width: auto;
  margin: 0 auto;
  align-items: center;
  color: var(--color-text-light);
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.brand img {
  height: 30px;
  border-radius: 10px;
  background-color: var(--color-bg);
}

@media (max-width: 767px) {
  .categoryNav {
    gap: 3px;
  }
}
