.Login {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: var(--color-surface);
  gap: 5px;
}
.Login h1,
p {
  margin: 0px;
  color: var(--color-link);
}
.info {
  display: flex;
  flex-direction: column;
}
.Login form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}
.Login form ::placeholder {
  text-transform: capitalize;
  font-weight: bold;
}

.Login form input {
  border-radius: var(--border-radius);
  border: none;
  height: 40px;
  text-align: center;
  margin: 10px auto;
  width: 100%;
  outline: none;
  background-color: var(--color-input-bg);
}
.Login form a {
  font-style: none;
  text-decoration: none;
  color: var(--color-link);
}
.Login form :last-child {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .Login {
    width: 90%;
  }
}
                                             // sign up
    .signup {
      width: 50%;
      margin: 50px auto;
      text-align: center;
      padding: 10px 0px;
      background-color: var(--color-bg);
      box-shadow: var(--shadow-md);
      border-radius: 0px 0px 20px 20px;
      text-transform: capitalize;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  
    }
  
    .signup h2 {
      margin: 10px 0px;
      color: var(--color-link);
    }
  
    .signup-form {
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 20px;
      margin: 10px auto;
      padding: 10px;
  
    }
  
    .signup-form input {
      text-align: center;
      border-radius: var(--border-radius);
      border: none;
      outline: none;
      height: 40px;
    }
  
    .signup-form label {
      display: flex;
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
      gap: 5px;
    }

        @media (max-width: 768px) {
          .signup {
            width: 90%;
          }
        }